<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="copyright" content="All Rights Reserved, Copyright (C) 2018, maxranje, Ltd." />
<title>PLATMIS</title>
<link rel="stylesheet" type="text/css" href="{{resource.base_url}}/public/js/easyui/themes/bootstrap/easyui.css" />
<link rel="stylesheet" type="text/css" href="{{resource.base_url}}/public/js/easyui/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="{{resource.base_url}}/public/css/platmis.css" />
<script type="text/javascript" src="{{resource.base_url}}/public/js/jquery.min.js"></script>
<script type="text/javascript" src="{{resource.base_url}}/public/js/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="{{resource.base_url}}/public/js/platmis/platmis.js"></script>
<!-- <script type="text/javascript" src="js/easyui/locale/easyui-lang-zh_CN.js"></script> -->

</head>
<body class="easyui-layout">
    <!-- begin of header -->
    <div class="zy-header" data-options="region:'north',border:false">
        <div class="zy-header-left">
            <h1>Platmis Web Admin</h1>
        </div>
        <div class="zy-header-right">
            <p><strong class="easyui-tooltip" title="2条未读消息">{{result.uname}}</strong>，欢迎您！</p>
            <p><a href="#">网站首页</a>|<a href="#">帮助中心</a>|<a href="#">安全退出</a></p>
        </div>
    </div>
    <!-- end of header -->
    <!-- begin of sidebar -->
    <div class="zy-sidebar" data-options="region:'west',split:true,border:true,title:'导航菜单'">
        <div class="easyui-accordion" data-options="border:false,fit:true">
            <div title="权限管理" data-options="iconCls:'icon-application-cascade'" style="padding:5px;">
                <ul class="easyui-tree zy-side-tree">
                    <li iconCls="icon-users"><a href="javascript:void(0)" data-icon="icon-users" data-link="/platmis/authmis/authuser" iframe="1">用户管理</a></li>
                </ul>
            </div>
            <div title="主站管理" data-options="iconCls:'icon-creditcards'" style="padding:5px;">
                <ul class="easyui-tree zy-side-tree">
                    <li iconCls="icon-chart-organisation"><a href="javascript:void(0)" data-icon="icon-chart-organisation" data-link="layout-3.html" iframe="1">导航标题</a></li>
                    <li iconCls="icon-users"><a href="javascript:void(0)" data-icon="icon-users" data-link="temp/layout-3.html" iframe="1">导航标题</a></li>
                    <li iconCls="icon-user-group"><a href="javascript:void(0)" data-icon="icon-user-group" data-link="temp/layout-3.html" iframe="1">导航标题</a></li>
                    <li iconCls="icon-book"><a href="javascript:void(0)" data-icon="icon-book" data-link="temp/layout-3.html" iframe="1">导航标题</a></li>
                    <li iconCls="icon-cog"><a href="javascript:void(0)" data-icon="icon-cog" data-link="temp/layout-3.html" iframe="1">导航标题</a></li>
                    <li iconCls="icon-application-osx-error"><a href="javascript:void(0)" data-icon="icon-application-osx-error" data-link="temp/layout-3.html" iframe="1">导航标题</a></li>
                </ul>
            </div>
            <div title="批改平台" data-options="iconCls:'icon-table-edit'" style="padding:5px;">
                <ul class="easyui-tree zy-side-tree">
                    <li iconCls="icon-coins"><a href="javascript:void(0)" data-icon="icon-coins" data-link="/platmis/correct/purchase" iframe="1">购买记录</a></li>
                    <li iconCls="icon-book-go"><a href="javascript:void(0)" data-icon="icon-book-go" data-link="temp/layout-3.html" iframe="1">批改记录</a></li>
                    <li iconCls="icon-basket-add"><a href="javascript:void(0)" data-icon="icon-basket-add" data-link="temp/layout-3.html" iframe="1">商品管理</a></li>
                </ul>
            </div>
            <div title="模考系统" data-options="iconCls:'icon-application-form'" style="padding:5px;">
                <ul class="easyui-tree zy-side-tree">
                    <li iconCls="icon-bell-start"><a href="javascript:void(0)" data-icon="icon-bell-start" data-link="temp/layout-3.html" iframe="1">开始考试</a></li>
                    <li iconCls="icon-bell-stop"><a href="javascript:void(0)" data-icon="icon-bell-stop" data-link="temp/layout-3.html" iframe="1">结束考试</a></li>
                    <li iconCls="icon-chart-curve"><a href="javascript:void(0)" data-icon="icon-chart-curve" data-link="layout-3.html" iframe="1">模考记录</a></li>
                    <li iconCls="icon-user-red"><a href="javascript:void(0)" data-icon="icon-user-red" data-link="temp/layout-3.html" iframe="1">考生记录</a></li>
                    <li iconCls="icon-page-white-stack"><a href="javascript:void(0)" data-icon="icon-page-white-stack" data-link="temp/layout-3.html" iframe="1">试卷管理</a></li>
                </ul>
            </div>
            <div title="广告管理" data-options="iconCls:'icon-bricks'" style="padding:5px;">
                <ul class="easyui-tree zy-side-tree">
                    <li iconCls="icon-chart-organisation"><a href="javascript:void(0)" data-icon="icon-chart-organisation" data-link="layout-3.html" iframe="1">导航标题</a></li>
                    <li iconCls="icon-users"><a href="javascript:void(0)" data-icon="icon-users" data-link="temp/layout-3.html" iframe="1">导航标题</a></li>
                    <li iconCls="icon-user-group"><a href="javascript:void(0)" data-icon="icon-user-group" data-link="temp/layout-3.html" iframe="1">导航标题</a></li>
                    <li iconCls="icon-book"><a href="javascript:void(0)" data-icon="icon-book" data-link="temp/layout-3.html" iframe="1">导航标题</a></li>
                    <li iconCls="icon-cog"><a href="javascript:void(0)" data-icon="icon-cog" data-link="temp/layout-3.html" iframe="1">导航标题</a></li>
                    <li iconCls="icon-application-osx-error"><a href="javascript:void(0)" data-icon="icon-application-osx-error" data-link="temp/layout-3.html" iframe="1">导航标题</a></li>
                </ul>
            </div>
            <div title="系统设置" data-options="iconCls:'icon-wrench'" style="padding:5px;">
                <ul class="easyui-tree zy-side-tree">
                    <li iconCls="icon-chart-organisation"><a href="javascript:void(0)" data-icon="icon-chart-organisation" data-link="layout-3.html" iframe="1">系统配置</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end of sidebar -->
    <!-- begin of main -->
    <div class="zy-main" data-options="region:'center'">
        <div id="zy-tabs" class="easyui-tabs" data-options="border:false,fit:true" style="overflow: hidden">
        </div>
    </div>
    <!-- end of main -->
    <!-- begin of footer -->
    <div class="zy-footer" data-options="region:'south'"> &copy; 2018 Zy All Rights Reserved </div>
</body>
</html>
